RewriteEngine on
 # редирект на русскоязычную версию сайта
 RewriteCond %{REQUEST_URI} ^/$ [NC]
 RewriteCond %{HTTP:Accept-Language} (ru|uk|be|kk|mo|ka|et|bg|az) [NC]
 RewriteRule .* https://ru.amnezia.org/ [R=302,L]
 # редирект на англоязычную версию сайта для всех остальных языков
 RewriteCond %{REQUEST_URI} ^/$ [NC]
 RewriteRule .* https://en.amnezia.org/ [R=302,L]