RewriteEngine On

RewriteCond %{HTTP:Accept-Language} (ru|uk|be|kk|mo|ka|et|bg|az) [NC]
RewriteRule ^$ https://ru.amnezia.org/ [L,R=301]

RewriteCond %{REQUEST_URI} ^/$ [NC]
RewriteRule ^$ https://en.amnezia.org/ [L,R=301]
